
body {
    font: normal 12px "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    font: normal 22px "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #3275a8;
}

a {
    text-decoration: none;
    color: #3275a8;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th {
    text-align: left;
    padding: 6px;
    background-color: #f2f2f2;
}

table td {
    text-align: left;
    padding: 6px;
    border-bottom: 1px solid #f0f0f0;
}

#content {
    margin: auto;
    padding: 20px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    background-color: #ffffff;
    width: 1600px;
}

.button {
    padding: 6px 12px 6px 12px;
    border: solid 1px #a0a0a0;
    background-color: #0a7d0a;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    background-color: #199419;
}

.button_center {
    margin: auto;
}

.button_gray {
    background-color: #f0f0f0;
    color: #202020
}

.button_gray:hover {
    background-color: #f9f9f9;
    color: #202020
}

.filters {
    clear: both;
    margin-top: 20px;
    background-color: #ebf7ff;
    padding: 10px;
}