{% extends 'layout.html' %}


{% block content %}

    <h1>Explore data: {{ transformed_data.get_file_name }}</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <a href="{% url 'main' %}" class="button button_center button_gray">Back to main list</a>
    {% if not is_filtering %}
        <a href="{% url 'explore_data' transformed_data.pk %}?limit={{ next_limit }}" class="button button_center">Load next 10 rows</a>
    {% endif %}


    <div class="filters">
        Group by:
        <br/><br/>

        <form action="" method="GET">
            {% for header in available_filters %}
                <input type="checkbox" name="{{ header }}" value="1" {% if header in filters %} checked{% endif %}/> {{ header }}
            {% endfor %}

            <input type="submit" value="Calculate" class="button"/>
        </form>
    </div>

    <table>
        <tr>
            {% for header in data_table_headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>


        {% for row in data_table %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}
