{% extends 'layout.html' %}


{% block content %}

    <h1>Processed data history</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <a href="{% url 'fetch_data' %}" class="button">Fetch data from API</a>


    <table>
        <tr>
            <th>Generated at</th>
            <th>Explore data</th>
            <th>Download CSV</th>
        </tr>
        {% for data in transformed_data %}
        <tr>
            <td>{{ data.transformed_at }}</td>
            <td>
                <a href="{% url 'explore_data' data.pk %}">Explore data</a>
            </td>
            <td>
                <a href="{% url 'download_file' data.pk %}">Download {{ data.get_file_name }}</a>
            </td>
        </tr>
        {% endfor %}

    </table>


{% endblock %}
